<div id="footer-outer">
  <div id="footer-inner">
    <div>
      <b>links:</b>
      <div>
        <a href="https://github.com/Stcwal/sauogfjell/">sauogfjell på github</a>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/stian-closs-walmann/">Stian på linkedIn</a>
      </div>
    </div>
    <div>
      <b>Sosiale medium:</b>
      <div>nei</div>
    </div>
    <div>
      <b>Takk til:</b>
      <div>
        Ingen, all me baby. Wow, snakk om å være ydmyk
      </div>
    </div>
  </div>
</div>