---
import "../styles/global.css"
---
<html lang="no" style="height: 100vh;">
  <style>
    b {font-family: monospace;}
  </style>
  <div class="outer">
    <head class="header">
      <a href="/">Home</a>
    </head>
    <slot class="content"/>
    <footer class="footer">
      footer
    </footer>
  </div>
</html>