.vscode/
.idea/
.git
node_modules/
package-lock.json
# .astro/
.astro/content-assets.mjs
.astro/content.d.ts
.astro/data-store.json
.astro/content.db
.astro/types.d.ts
.astro/collections/anders.schema.json
.astro/collections/dev.schema.json
.astro/collections/stian.schema.json
.astro./integrations/astro_db