/*
Fill inn this as new CSS rules and practices are discovered.
Also, if you make any special exceptions fo ahead and explain them here as well.

CSS styling rules:

Different parts are prefaced with the following:
  Content: "--c-"
  Header: "--h-"
  Footer: "--f-"
  Layout: "--l-"

Attributes to the content/page-part are defined with the following:
  Border: "--x-b-"
  Font: : "--x-f-"

Layout attributes are fomulated as this:
  Margin: "--l-m-"
  Padding: "--l-p-"
  Height: "--l-h-"
  Width: "--l-w-"
  Position: "--l-po-"

  If it turns out that this is shit to worik with, please change it up.

*/
:root {
  --l-font: monospace;
  --l-bg: #fff;
  --b-radius: 0px;
  --l-padding: 0px;
  --h-color: rgb(255, 158, 226);
  --b-radius: 0px;
  --b-color: none;
  --b-width: 0px;
  --f-color: azure;
}

[data-theme="floop"]{
  --font: Arial;
  --bg: #e1e1e1;
  --b-radius: 16px;
  --border: solid;
  --b-width: 2px;
  --padding: 10px;
  --header-color: #fff;
  --footer-color: #fff;

}


.wrapper, html, body {
    height: 100%;
    margin: 0;
    background-color: var(--bg);

}

.card {
  border-color: var(--b-color);
  border-radius: var(--b-radius);
  border-width: var(--b-width);
}

#outer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  min-height: 50px;
  background-color: var(--header-color);
  width: 100%;
  position: fixed;
  border-bottom: 2px solid black;
  font-family: var(--font);

}

#blog-content {
  border: var(--border);
  border-radius: var(--radius);
  padding-top: 50px;
  display: flex;
  font-family: var(--font);

}

#home-content {
  padding-top: 50px;
  display: grid;
  grid-auto-columns: 33vw;
  grid-template-columns: 33vw 33vw 33vw;
  justify-content: center;
}

#footer {
  width: 100%;
  margin-top: auto;
  font-family: var(--font);
}

#footer-outer {
  background-color: var(--footer-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  padding-bottom: 20px;
  padding-top: 20px;
}

#footer-inner {
  background-color:color(from color srgb r g b);
}

.post-wrapper {
  margin: 25px;
  font-family: var(--font);

}

.post-subtext {
  font-family: var(--font);
  font-size: xx-small;
  font-style: italic;
}