---
import HomeLayout from "../layouts/HomeLayout.astro";
import BlogpostRenderer from "./blog/components/BlogpostRenderer.astro";
---

<HomeLayout>
  <BlogpostRenderer collection="dev"/>
  <div class="post-wrapper">
    <a>Her kan det komme noe annet etter hvert</a>
  </div>
    <div class="post-wrapper">
    <a>Her kan det komme noe annet etter hvert</a>
  </div>
</HomeLayout>
