---
import { getCollection, render } from 'astro:content';
const prop = Astro.props;
const posts = await getCollection('dev');
---
<div>
  {await Promise.all(posts.map(async (post: any) => {const {Content} = await render(post);
  return(
    <div>
      <Content />
    </div>
  );
  }))}
</div>