<html lang="no" style="height: 100vh;">
<style>
  html
  body {
    height: 100%;
  }
  .content {
  }
  .outer {
    height: 100%;
  }
  .header {

  }
  .footer {

  }
</style>
<div class="outer">
    <head class="header">
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </head>
    <div class="content">
      <slot/>
    </div>
    <footer class="footer">
      footer
    </footer>
  </div>
</html>